<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.eatabrick.pooplinks"
  android:versionCode="2"
  android:versionName="1.1" >
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
  <application android:label="@string/app_name" android:icon="@drawable/icon">
    <activity android:name=".PoopLinks" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".PostLink" android:theme="@style/Invisible">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name=".Preferences"></activity>
    <activity android:name=".History"></activity>
  </application>
</manifest> 
